@import 'tailwindcss';

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .hide-back {
    backface-visibility: hidden;
  }

}

* {
  user-select: none;
}